.header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: var(--space-sm);
  padding: var(--space-sm) var(--space-md);
  background-color: var(--color-sage);
}

.logoLink {
  margin-right: auto;
}

.logo {
  width: auto;
  height: 40px;
}

.actions {
  display: flex;
  align-items: center;
}

@media (min-width: 600px) {
  .actions {
    order: 1;
  }
}
